.jcarousel-skin-carolive .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-carolive .jcarousel-container-horizontal {
    width: 572px;
    padding: 10px 40px;
}

.jcarousel-skin-carolive .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-carolive .jcarousel-clip-horizontal {
    width:  572px;
    height: 85px;
}

.jcarousel-skin-carolive .jcarousel-item {
    width: 180px;
    height: 85px;
}

.jcarousel-skin-carolive .jcarousel-item-horizontal {
	margin-left: 5px;
  margin-right: 5px;
}

.jcarousel-skin-carolive .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
  margin-right: 0;
}

.jcarousel-skin-carolive .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-carolive .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-carolive .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../images/prev-horizontal.png);
}

.jcarousel-skin-carolive .jcarousel-next-horizontal:hover,
.jcarousel-skin-carolive .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-carolive .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-carolive .jcarousel-next-disabled-horizontal,
.jcarousel-skin-carolive .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-carolive .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-carolive .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-carolive .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-carolive .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/next-horizontal.png);
}

.jcarousel-skin-carolive .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-carolive .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-carolive .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-carolive .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-carolive .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-carolive .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-carolive .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
