div.block#project {
	margin-bottom: 10px;
  height: 433px;
}

div.block#encouragment {
	margin-top: 10px;
  height: 153px;
}

#project .block_content {
  padding: 5px;
}

#project #pres_picture {
  float: left;
}

#project #pres_text p {
  margin : 0 0 10px 0;
}

#encouragment #courage_carousel p {
  margin: 0;
}

#encouragment #courage_carousel p.courage_sign {
  font-style: italic;
  color: grey;
}

#caroliveposts #post_caro, #caroliveposts #post_olive {
  padding: 5px;
  height: 275px;
}

#caroliveposts .post_picture {
  float: left;
  margin-right: 10px;
}

#caroliveposts .post_content ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#caroliveposts .post_content ul li p {
  margin: 0;
}

#caroliveposts .post_content ul li p.post_date {
  font-style: italic;
  color: grey;
}

#caroliveposts .post_content ul li p.post_text {
  margin-bottom: 10px;
}

#news .block_content {
  padding: 5px;
}

#news ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#news ul li {
  margin: 10px 0 0 0;
}

#news ul  li:first-child {
  margin-top: 0;
}

#news ul p {
  margin: 0;
}

#news ul p.news_country {
  font-style: italic;
  color: grey;
}

#photos ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#photos ul li {
  position: absolute;
}

#photos ul li img{
  height: 260px;
  width: 320px;
}