div.block#project {
	margin-bottom: 10px;
  height: 433px;
}

div.block#encouragment {
	margin-top: 10px;
  height: 153px;
}

#project #pres_picture {
  float: left;
  padding: 5px;
}

#project #pres_text {
  padding: 5px;
}

#encouragment #courage_carousel p {
  margin: 0;
}

#encouragment #courage_carousel p.courage_sign {
  font-style: italic;
  color: grey;
}