div.bodysite {
  width: 996px;
  margin: 0 auto;
  font-size: 12;
}

header ul {
  list-style: none outside none;
}

header ul.menu li.universe {
  position: relative;
  float: left;
  margin: 2px 10px;
}

header ul.menu li.universe ul {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
}

div.row_300 {
  height : 300px;
}

div.row_600 {
  height : 600px;
}

[class*="panel_"] {
  float: left;
  height: 100%;
  overflow: hidden;
  margin:5px;
}

div.panel_1_1 {
  width: 986px;
}

div.panel_1_3 {
  width: 322px;
}

div.panel_2_3 {
  width: 654px;
}

div.block {
	border: 1px solid grey;
	border-radius: 5px;
}

div.row_300 div.block {
  height: 298px;
}

div.row_600 div.block {
  height: 598px;
}

div.block#project, div.block#encouragment {
	border: 1px solid grey;
	border-radius: 5px;
  height: 293px;;
}

div.block#project {
	margin-bottom: 10px;
}

div.block#encouragment {
	margin-top: 10px;
}

div.block_title {
	background-image: -moz-linear-gradient(center top , #F8F8F8 50%, #DFDFDF 100%);
	border-radius: 5px 5px 0 0;
	padding: 5px;
}

div.block_title h2 {
  margin: 0;
}
