div.block#project {
	margin-bottom: 10px;
 /* height: 433px; Laisse le texte se dérouler de lui même*/
}

div.block#encouragment {
	margin-top: 10px;
  height: 220px;
/*Ajout de l'overflow pour qu'il tienne dans le flux*/
	overflow:hidden;
}

#project .block_content {
  padding: 5px;
}

#project #pres_picture {
  float: left;
}

#project #pres_text p {
  margin : 0 0 10px 0;
}

/*** ENCOURAGEMENTS ***/
#encouragment #courage_carousel li {
	border:1px solid #e3e3e3;
	background-image: linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 100%);
	background-image: -o-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 100%);
	background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 100%);
	background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 100%);
	background-image: -ms-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 100%);
}
#encouragment #courage_carousel p {
  margin: 0;
}

#encouragment #courage_carousel p.courage_sign {
  font-style: italic;
  color: grey;

}
/*** end ENCOURAGEMENTS ***/

/*** POSTS ***/
#caroliveposts #post_caro, #caroliveposts #post_olive {
  padding: 5px;
}

#caroliveposts .post_picture {
  float: left;
  margin-right: 10px;
}
#caroliveposts img {
	border:1px solid #e3e3e3;
	background-image: linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 100%);
	background-image: -o-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 100%);
	background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 100%);
	background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 100%);
	background-image: -ms-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 100%);
	padding:3px;
	float:right;
}

#caroliveposts .post_content ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#caroliveposts .post_content li {
  border-bottom:1px dotted #CCC;
}

#caroliveposts .post_content ul li p {
  margin: 0;
}

#caroliveposts .post_content ul li p.post_date {
  font-style: italic;
  color: grey;
  font-size:11px;
}

#caroliveposts .post_content ul li p.post_text {
  margin-bottom: 10px;
}
/*** end POSTS ***/

/**** DERNIERS ATICLES PARUS ****/
#news { 
	background:#f5f5f5;
	height:300px;
	box-shadow: 0px 0px 3px #AAA inset;	
}
#news .block_title {
  display:none;
}
#news .block_content {
  padding: 5px;
  position:absolute;
}
#news img {max-height:290px;}

#news .extract {
	background: rgba(0, 0, 0, 0.5);
	position:absolute;
	bottom:8px;
	right:5px;
	padding:5px;
	width:480px;
}
#news ul p {
	color:#FFF;
	font-size:11px;
}

#news ul p.news_country {
  font-weight: bold;
	text-transform:uppercase;
	color:#FFF;
	font-size:14px;
}
#news ul a.news_link {
  font-style:italic;
	font-weight:bold;
	text-decoration:none;
}
/*
#news ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#news ul li {
  margin: 10px 0 0 0;
}

#news ul  li:first-child {
  margin-top: 0;
}

#news ul p {
  margin: 0;
}

/**** end DERNIERS ATICLES PARUS ****/

#photos ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#photos ul li {
 /* position: absolute;*/ /* je l'ai enlevé car il n'entrait pas dans son conteneur */
}

#photos ul li img{
/* Je les fait un peu plus petites
  height: 260px;
  width: 320px;*/
	width:260px;
	height:150px;
}