#trip_map .block_content {
	padding: 5px;
}

#trip_map .block_content p {
	margin: 0 0 10px 0;
}

/* Post css */
#post {
	height: auto;
}

#post .extract {
	padding: 5px;
}

#post .block_content {
	margin-top: 5px;
	padding: 5px;
	width: 560px;
	min-height: 120px;
}

#post ul p.news_country {
	font-weight: bold;
	text-transform: uppercase;
	color: #BF2A2A;;
	font-size: 14px;
}

#post ul a.news_link {
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}

#post ul p {
	font-size: 11px;
}

#post ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

#post ul li img {
	float: left;
	margin: 0 10px 10px 0;
}